blinker
certifi
click
Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
patsy
plotly
PyOBject
plotly-express
pyparsing
python-dateutil
pytz
scipy
six
statsmodels
tenacity
Werkzeug