blinker
certifi
click
Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
patsy
pgi
plotly
plotly-express
pycairo
PyGObject
pyparsing
python-dateutil
pytz
scipy
six
SQLAlchemy
statsmodels
tenacity
Werkzeug
WTForms
wtforms-html5