blinker
certifi
click
flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
Flask-RESTful
Flask-JWT
uwsgi
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
patsy
plotly
plotly-express
pyparsing
python-dateutil
pytz
scipy
six
statsmodels
tenacity
Werkzeug
WTForms
wtforms-html5
