h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  section h2{
    text-align: center;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  section{
    border-radius: 20px;
  }
  img{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 25px;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  .infos{
    border-right: black 2px solid;
    margin-bottom: 40px;
    padding-right: 50px;
    text-align: justify;
  }
  .infos p{
    padding-top: 20px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  #button{
    margin: 0 auto;
  }
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }
  label{
    color:#fff;
  }
  section{
    margin:50px;
  }
  a, a:hover{
    color: #fff;  
  }
  
  