h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }

  h3{
    position: absolute;
    left: 1000px;
    top: 350px;
    color: #FFEBCD;
    font-size: 50px;
  }

  h4{
    position: absolute;
    left: 1050px;
    top: 725px;
    color: #FFEBCD;    
    font-size: 50px;
  }
  h5{
    position: absolute;
    left: 600px;
    top: 520px;
    color: #FFEBCD;    
    font-size: 50px;
  }
  section h2{
    text-align: center;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  section{
    border-radius: 20px;
  }



  img{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 25px;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  .infos{
    border-right: black 2px solid;
    margin-bottom: 40px;
    padding-right: 50px;
    text-align: justify;
  }
  .infos p{
    padding-top: 20px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
  }


  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 5px rgba(255,255,255,0.1);
  }
  
  #button{
    margin: 0 auto;
  }
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }
  label{
    color:#fff;
  }
  section{
    margin:50px;
  }
  a, a:hover{
    color: #fff;  
  }

#notif {
  background-color : rgb(75, 75, 75);
  height: 23px;
  width: 23px;
  text-align: center;
  border-radius: 3px;
  color: red ;
}

.cand_stats{
  position: absolute;
  width: 689px;
  height: 784px;
  left: 479px;
  top: 240px;
  background: #FFFFFF;
}

#apprenant{
  height: 300px;
  width: 300px;
  left: 1300px;
  top: -100px;
  border-radius: 150px;
  background-color: #FFEBCD;
  padding: 130px;
  margin-top: 120px;
  font-size: 90px;
  color: #B22222 ;
  justify-content: left;
  position: relative;
  align-self: center;
}

#promo{
  height: 300px;
  width: 300px;
  left: 1300px;
  top: -50px;
  border-radius: 150px;    
  background-color: #FFEBCD;
  padding: 115px;
  font-size: 90px;
  color: #B22222;
  margin-top: 10px;    
  position: relative;
}

#cand_ok{
  height: 400px;
  width: 400px;
  left: 100px;
  top: -650px;
  border-radius: 2000px;    
  background-color: #FFEBCD;
  padding: 155px;
  font-size: 100px;
  color: #B22222;
  margin-top: 80px;    
  position: relative;
}

#stats_ok{
justify-content: left;
align-self: center;  
margin: 30px; 
position: relative; 
top: 20px;
}
.sac{
size:  80px;
}

