{% extends 'base.html' %}

{% block title %} 
    Modifier utilisateur
{% endblock %}

{% block content %}
    <div class='container mt-5'>
        <h1 class="text-center"> Modifier utilisateur </h1>
        <br>
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}

            {{ form.last_name.label() }}
            {{ form.last_name(value=user.last_name, class="form-control") }}
            <br>
            {{ form.first_name.label() }}
            {{ form.first_name(value=user.first_name, class="form-control") }}
            <br>
            {{ form.email_address.label() }}
            {{ form.email_address(value=user.email_address, class="form-control") }}
            <br>
            {{ form.telephone_number.label() }}
            {{ form.telephone_number(value=user.telephone_number, class="form-control") }}
            <br>
            {{ form.promo.label() }}
            {{ form.promo(value=user.promo, class="form-control") }}
            <br>
            {{ form.year.label() }}
            {{ form.year(value=user.year, class="form-control") }}
            <br>
            {{ form.curriculum.label() }}
            {{ form.curriculum(value=user.curriculum, class="form-control") }}
            <br>
            {{ form.is_admin.label() }}
            {{ form.is_admin(value=user.is_admin, class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-dark d-block", id="button")}}
        </form>
    </div>  
{% endblock %}
