{% extends 'base.html' %}

{% block title %} 
    Modifier candidature
{% endblock %}

{% block content %}
    <div class='container mt-5'>
        <h1 class="text-center"> Modifier candidature </h1>
        <br>
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}

            {{ form.plateforme.label() }}
            {{ form.plateforme(value=candidacy.plateforme, class="form-control") }}
            <br>
            {{ form.poste.label() }}
            {{ form.poste(value=candidacy.poste, class="form-control") }}
            <br>
            {{ form.entreprise.label() }}
            {{ form.entreprise(value=candidacy.entreprise, class="form-control") }}
            <br>
            {{ form.activite.label() }}
            {{ form.activite(value=candidacy.activite, class="form-control") }}
            <br>
            {{ form.type.label() }}
            {{ form.type(value=candidacy.type, class="form-control") }}
            <br>
            {{ form.lieu.label() }}
            {{ form.lieu(value=candidacy.lieu, class="form-control") }}
            <br>
            {{ form.contact_full_name.label() }}
            {{ form.contact_full_name(value=candidacy.contact_full_name, class="form-control") }}
            <br>
            {{ form.contact_email.label() }}
            {{ form.contact_email(value=candidacy.contact_email, class="form-control") }}
            <br>
            {{ form.contact_mobilephone.label() }}
            {{ form.contact_mobilephone(value=candidacy.contact_mobilephone, class="form-control") }}
            <br>
            {{ form.status.label() }}
            {{ form.status(value=candidacy.status, class="form-control") }}
            <br>
            {{ form.date.label() }}
            {{form.date(value=candidacy.date)}}
            <br>
            {{ form.modified_date.label() }}
            {{form.modified_date(value=candidacy.date)}}
            <br>
            {{ form.relance.label() }}
            {{ form.relance(value=candidacy.relance)}}
            <br>
            {{ form.submit(class="btn btn-lg btn-dark d-block", id="button")}}
        </form>
    </div>  
{% endblock %}
