{% extends 'base.html' %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block content %}
<section class="row col-10 bg-white mx-auto justify-content-center">
    <h2 class="col-12 text-dark my-5">SIMPLON-JOBS</h2>
    <div class="col-5 infos">
        <p>Bienvenue sur le portail SIMPLON-JOBS ! </p>
        <p>Il a pour vocation de simplifier la recherche d'alternance pour les apprenants, tout en permettant aux responsables de la formation de vous accompagner dans vos recherches.</p>

    </div>
    <div class="col-6">
        <img src="../static/jobmatching.jpg">
    </div>
</section>
{% endblock %}