{% extends "base.html" %}
{% block title %}
    Ajout utilisateur
{% endblock %}
{% block content%}
<div class='container mt-5'>
    <h1>Nouvel utilisateur</h1>
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }}

        {{ form.last_name.label }}
        {{ form.last_name(size=32, class="form-control") }}
        <br>

        {{ form.first_name.label }}
        {{ form.first_name(class="form-control") }}
        <br>

        {{ form.email_address.label }}
        {{ form.email_address(size=32, class="form-control") }}
        <br>

        {{ form.password_hash.label }}
        {{ form.password_hash(class="form-control") }}
        <br>

        {{ form.telephone_number.label }}
        {{ form.telephone_number(class="form-control") }}
        <br>

        {{ form.promo.label }}
        {{ form.promo(class="form-control") }}
        <br>

        {{ form.year.label }}
        {{ form.year(size=32, class="form-control") }}
        <br>

        {{ form.curriculum.label }}
        {{ form.curriculum(size=32, class="form-control") }}
        <br>

        {{ form.is_admin.label }}
        {{ form.is_admin(class="form-control") }}
        <br>

        {{ form.submit(class="btn btn-lg btn-dark mt-4 d-block",id="button") }}
    </form>
</div>
{% endblock %}
