<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../static/logo_simplon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/style.css">
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-2">
      <div class="contenant">
        <img src="../static/logohead.png" alt="test" class="responsive">
        <div class="texte_centrer">SIMPLON-JOBS</div>
      </div>
    <a class="navbar-brand" href="#"></a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse col-7" id="navbar">
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home_page') }}">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
              </svg>
            Accueil
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('welcome_page') }}">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
              </svg>
            Accueil
          </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('profil_page') }}">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
          Profil
          </a>
        </li>
        {% else %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('login_page') }}">Profil</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('board_page') }}">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor"
              d="M4.98 1a.5.5 0 0 0-.39.188L1.54 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h4.46l-3.05-3.812A.5.5 0 0 0 11.02 1H4.98zM3.81.563A1.5 1.5 0 0 1 4.98 0h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .106-.374L3.81.563zM.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z"/>
            </svg>
          Candidatures
          </a>
        </li>
        <li class="nav-item ml-3">
          <div class="display flex row">
            <a class="nav-link" href="{{ url_for('notification') }}">Relance  </a>
            <div id="notif" >
              {{alertes}} 
            </div>
          </div>
          
        </li>
        <li class="nav-item ml-3">
          <div class="display flex row">
            <a class="nav-link" href="{{ url_for('profile_page') }}"> Profile</a>
          </div>        
        </li>
        {% else %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('login_page') }}">Candidatures</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('offres_page') }}">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor"
              d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
            </svg>
          Offres
          </a>
        </li>
        {% else %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('login_page') }}">Offres</a>
        </li>
        {% endif %}
        {% if current_user.is_admin == False %}
          {% if current_user.is_authenticated %}
          <li class="nav-item ml-3">
            <a class="nav-link" href="{{ url_for('relaunch_page') }}">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z" />
              </svg>
            Relance
            </a>
          </li>
          {% else %}
          <li class="nav-item ml-3">
            <a class="nav-link" href="{{ url_for('login_page') }}">Relance</a>
          </li>
          {% endif %}
        {% else %}  
          {% if current_user.is_authenticated %}
          <li class="nav-item ml-3">
            <a class="nav-link" href="{{ url_for('gestion_page') }}">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z" />
              </svg>
            Gestion
            </a>
          </li>
          {% else %}
          <li class="nav-item ml-3">
            <a class="nav-link" href="{{ url_for('login_page') }}">Gestion</a>
          </li>
          {% endif %}
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('calendar_page') }}">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm3 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
            </svg>
          Calendrier
          </a>
        </li>
        {% else %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('login_page') }}">Calendrier</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('visualisation_page') }}">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor"
              d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
            </svg>
          Visualisations
          </a>
        </li>
        {% else %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="{{ url_for('login_page') }}">Visualisations</a>
        </li>
        {% endif %}
      </ul>
    </div>
      <div class="col-3 text-right">
        {% if current_user.is_authenticated %}
        <span class="navbar-text">
          {% if current_user.is_admin == False %}
          Apprenant :
          {% else %}  
          Admin :
          {% endif %}
          <a href="{{ url_for('modify_profile') }}"> {{ current_user.first_name }} {{ current_user.last_name }}</a>
        </span>
        <span class="navbar-text">
          <a class="nav-link" href="{{ url_for('logout_page') }}">  Déconnexion</a>
        </span>
        {% else %}
        <span class="navbar-text">
          <a class="nav-link" href="{{ url_for('login_page') }}">  Connexion</a>
        </span>
        {% endif %}
      </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category,message in messages %}
  <div class="alert alert-{{ category }} alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>

