{% extends 'base.html' %}

{% block title %}
Login 
{% endblock %}

{% block content %}

<div class="container col-3">
  <div class="card shadow rounded mt-5">
    <h1>Log in</h1>
    <form method="POST" class="form-register">
      <small>enter the email address of the account you forgot your password</small>
      {{form.email(placeholder="exemple@exemple.com",class="form-control")}}
      {{form.submit(class="btn btn-lg btn-primary d-block", id="button")}}
    </form>
  </div>
</div>
<!-- <script> -->
{% endblock %}
