{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
<section class="row col-10 bg-white mx-auto justify-content-center">
    <h2 class="col-12 text-primary my-5">Gestion des candidatures par apprenant</h2>
    <div class="col-5 infos">
        <p>Cette application est dédiée à l'équipe Simplon.co et leurs apprenants. Gérez, consultez et ajoutez vos 
            candidatures avec un espace personnel dont seuls vous et l'équipe Simplon peuvent consulter. Gardez une 
            trace de vos candidatures tout en contrôlant les dates de première candidature et de relance.
        </p>
    </div>
    <div class="col-6">
        <img src="../static/candidature.jpeg">
    </div>
</section>
{% endblock %}