{% extends 'base.html' %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block content %}
<section class="row col-10 bg-white mx-auto justify-content-center">
    <h2 class="col-12 text-dark my-5">News SIMPLON-JOBS</h2>
    <div class="col-5 infos">
        <p>Le 24 février 2022 à 18h30 à Decathlon Campus dans l’amphi Cap Horn. Inscrivez-vous vite, l’évènement est réservé à 120 personnes.
        </p>
        </p>
            AU PROGRAMME
            Le challenge de la recommandation produit en plein boom du digital (40 min) - David Degardin & Mikael Koutero
            Développer et industrialiser une solution IA de prévision de séries temporelles (40min) - Alfonso Carta, Vianney Bruned & Corentin Vasseur
            Chaque présentation sera suivie d’un temps d'échange et de questions. Nous avons hâte de vous rencontrer et de passer ce moment avec vous !
            Nous prévoyons un buffet convivial pour échanger davantage à l’issue des présentations (sous réserve des conditions sanitaires en vigueur).
            
            
        </p>
    </div>
    <div class="col-6">
        <img src="../static/meetup-decathlon.jpg">
    </div>
</section>
{% endblock %}