{% extends 'base.html' %}

{% block title %} 
    Login
{% endblock %}

{% block content %}
    <div class='container mt-5'>
        <h1> Log in </h1>
        <br>
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
            
            {{ form.email.label() }}
            {{ form.email(placeholder="exemple@exemple.com", class="form-control") }}
            <br>
            {{ form.password.label() }}
            {{ form.password(placeholder="***********", class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-primary d-block", id="button")}}
        </form>
    </div>  
{% endblock %}