{% extends 'base.html' %}

{% block title %} 
    Modifier offre d'emploi
{% endblock %}

{% block content %}
    <div class='container mt-5'>
        <h1 class="text-center"> Modifier offre d'emploi </h1>
        <br>
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}

            {{ form.lien.label() }}
            {{ form.lien(value=offer.lien, class="form-control") }}
            <br>
            {{ form.poste.label() }}
            {{ form.poste(value=offer.poste, class="form-control") }}
            <br>
            {{ form.entreprise.label() }}
            {{ form.entreprise(value=offer.entreprise, class="form-control") }}
            <br>
            {{ form.activite.label() }}
            {{ form.activite(value=offer.activite, class="form-control") }}
            <br>
            {{ form.type.label() }}
            {{ form.type(value=offer.type, class="form-control") }}
            <br>
            {{ form.lieu.label() }}
            {{ form.lieu(value=offer.lieu, class="form-control") }}
            <br>
            {{ form.contact_full_name.label() }}
            {{ form.contact_full_name(value=offer.contact_full_name, class="form-control") }}
            <br>
            {{ form.contact_email.label() }}
            {{ form.contact_email(value=offer.contact_email, class="form-control") }}
            <br>
            {{ form.contact_mobilephone.label() }}
            {{ form.contact_mobilephone(value=offer.contact_mobilephone, class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-dark d-block", id="button")}}
        </form>
    </div>  
{% endblock %}
