{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block
content %}

<div class="container col-3">
  <div class="card shadow rounded mt-5">
    <h1>Log in</h1>
    <form method="POST" class="form-register">
      <div class="m-3">
        <div class="mb-3">
          <div>New password</div>
          <div>
            {{form.passw(placeholder="***********",
            class="form-control")}}
          </div>
        </div>
        <div>
          <div>re-type Password:</div>
          <div>
            {{form.cpassw(placeholder="***********", class="form-control")}}
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3 mb-3">
          <div>{{ form.submit(class="btn bouton", id="button")}}</div>
     </div>
      </div>
    </form>
  </div>
</div>
<script>
{% endblock %}
