{% extends "base.html" %}

{% block title %}
Board
{% endblock %}

{% block content %}
<section>
  <h1>Offres d'alternance</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          {% for col_name in title %}
          <th style="text-align:left">{{ col_name }}</th>

          {% endfor %}
          <th style="text-align:left"> action  </th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for offer in user_offer %}
        <tr>
          {% for info in offer.keys() %}
            {%if info not in ['id', 'user_id', 'lien']%}
              <td>{{ offer[info] }}</td>
            {%endif %}
          {% endfor %}
          <td>
            <a href="{{offer.lien}}" target="_blank">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
              </svg>
            </a>
            <a href="{{ url_for('add_to_candidacy', id = offer['id']) }}">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
            </a>
            <a href="{{ url_for('modify_offer', id = offer['id']) }}">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
              </svg>
            </a>
            <a href="{{ url_for('delete_offer', id = offer['id']) }}">
              <svg style="width:24px;height:24px"  viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
              </svg>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
      <button class="btn btn-lg btn-dark mt-4 d-block" id="button">
        <a href="{{ url_for('add_offer') }}">Ajouter offre</a>
      </button>
  </div>
</section>
{% endblock %}