{% extends 'base.html' %}

{% block title %} 
    Visualisations
    
{% endblock %}


{% block content %}
<section class="row col-10 bg-white mx-auto justify-content-center">
    <h2 class="col-12 text-dark my-5">TON PROFIL</h2>
    <div class="col-5 infos">
        <p>Promo : </p>
        <p>Année : </p>
        <p>Nom : </p>
        <p>Prénom : </p>
        <p>Nombre de candidatures : </p>
        <p>Statistiques : </p>
        <p>Ajouter ton CV </p>
    </div>
    <div class="col-6">
        <img src="../static/profil.jpg">
    </div>
</section>
{% endblock %}
